/venv
/url_shortner_frontend/node_modules
/url_shortner_backend/.env.development
/url_shortner_backend/.env.production
/url_shortner_frontend/.env.development
/url_shortner_frontend/.env.production
/url_shortner_frontend/build
/url_shortner_backend/migrations/*